# Classification with Sklearn RandomForestClassifier

In [43]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [44]:
# Import the Heart Disease dataset. 
# The dataset is publicly available at https://archive.ics.uci.edu/ml/datasets/Heart+Disease
# The dataset is about heart disease and contains several columns with information about the patient.
# The target column is 'target' which indicates whether the patient has heart disease or not.
heart_disease = pd.read_csv('data/classification/heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [45]:
# Split the dataset into features (X) and target (y)
X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

In [46]:
# Split the dataset into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier
clf.fit(X_train, y_train)

clf.score(X_test, y_test)

0.8360655737704918

In [56]:
# Make predictions on the test set
y_pred = clf.predict(X_test)

In [57]:
# Visualize the predictions
pred_results = pd.DataFrame({'actual': y_test, 'predicted': y_pred})
pred_results.head(20)

     actual  predicted
179       0          0
228       0          1
111       1          1
246       0          0
60        1          1
9         1          1
119       1          1
223       0          0
268       0          0
33        1          0
5         1          1
101       1          0
45        1          1
175       0          0
118       1          1
46        1          1
125       1          1
192       0          0
285       0          0
279       0          0

# Classification with embeddings

The previous example is good enough for structured data, but what if we have unstructured data like text? In this case, we can use embeddings to convert the text into numerical vectors and then use these vectors as input to a classifier. In this example, we will use the OpenAI API to get embeddings for text data and then use these embeddings to train a classifier to predict the sentiment of food reviews.

In [58]:
import dotenv
import pandas as pd
import tiktoken
import numpy as np
from openai import OpenAI
from ast import literal_eval

In [59]:
dotenv.load_dotenv(".env")

embedding_model = "text-embedding-3-small"
embedding_encoding = "cl100k_base"
max_tokens = 8000  # the maximum for text-embedding-3-small is 8191

GPT_MODEL = "gpt-4o-mini"

In [60]:
client = OpenAI()

In [61]:
def get_embedding(text: str, model="text-embedding-3-small", **kwargs):
    # replace newlines, which can negatively affect performance.
    text = text.replace("\n", " ")

    response = client.embeddings.create(input=[text], model=model, **kwargs)

    return response.data[0].embedding

In [64]:
# load & inspect dataset
input_datapath = "data/classification/fine_food_reviews_1k.csv"  # to save space, we provide a pre-filtered dataset
df = pd.read_csv(input_datapath, index_col=0)
df = df[["Time", "ProductId", "UserId", "Score", "Summary", "Text"]]
df = df.dropna()
df.head()

,Time,ProductId,UserId,Score,Summary,Text
0,1351123200,B003XPF9BO,A3R7JR3FMEBXQB,5,where does one start...and stop... with a tre...,Wanted to save some to bring to my Chicago fam...
1,1351123200,B003JK537S,A3JBPC3WFUT5ZP,1,Arrived in pieces,"Not pleased at all. When I opened the box, mos..."
2,1351123200,B000JMBE7M,AQX1N6A51QOKG,4,"It isn't blanc mange, but isn't bad . . .",I'm not sure that custard is really custard wi...
3,1351123200,B004AHGBX4,A2UY46X0OSNVUQ,3,These also have SALT and it's not sea salt.,I like the fact that you can see what you're g...
4,1351123200,B001BORBHO,A1AFOYZ9HSM2CZ,5,Happy with the product,My dog was suffering with itchy skin. He had ...

In [65]:
# combine title and content to get more context in one field
df["combined"] = (
    "Title: " + df.Summary.str.strip() + "; Content: " + df.Text.str.strip()
)
print(len(df))
df.head()

1000

,Time,ProductId,UserId,Score,Summary,Text,combined
0,1351123200,B003XPF9BO,A3R7JR3FMEBXQB,5,where does one start...and stop... with a tre...,Wanted to save some to bring to my Chicago fam...,Title: where does one start...and stop... wit...
1,1351123200,B003JK537S,A3JBPC3WFUT5ZP,1,Arrived in pieces,"Not pleased at all. When I opened the box, mos...",Title: Arrived in pieces; Content: Not pleased...
2,1351123200,B000JMBE7M,AQX1N6A51QOKG,4,"It isn't blanc mange, but isn't bad . . .",I'm not sure that custard is really custard wi...,"Title: It isn't blanc mange, but isn't bad . ...."
3,1351123200,B004AHGBX4,A2UY46X0OSNVUQ,3,These also have SALT and it's not sea salt.,I like the fact that you can see what you're g...,Title: These also have SALT and it's not sea s...
4,1351123200,B001BORBHO,A1AFOYZ9HSM2CZ,5,Happy with the product,My dog was suffering with itchy skin. He had ...,Title: Happy with the product; Content: My dog...

In [69]:
# get encoding
encoding = tiktoken.get_encoding(embedding_encoding)

# omit reviews that are too long to embed
df["n_tokens"] = df.combined.apply(lambda x: len(encoding.encode(x)))

print(len(df))
df.head()

1000

,Time,ProductId,UserId,Score,Summary,Text,combined,n_tokens
0,1351123200,B003XPF9BO,A3R7JR3FMEBXQB,5,where does one start...and stop... with a tre...,Wanted to save some to bring to my Chicago fam...,Title: where does one start...and stop... wit...,52
1,1351123200,B003JK537S,A3JBPC3WFUT5ZP,1,Arrived in pieces,"Not pleased at all. When I opened the box, mos...",Title: Arrived in pieces; Content: Not pleased...,35
2,1351123200,B000JMBE7M,AQX1N6A51QOKG,4,"It isn't blanc mange, but isn't bad . . .",I'm not sure that custard is really custard wi...,"Title: It isn't blanc mange, but isn't bad . ....",267
3,1351123200,B004AHGBX4,A2UY46X0OSNVUQ,3,These also have SALT and it's not sea salt.,I like the fact that you can see what you're g...,Title: These also have SALT and it's not sea s...,239
4,1351123200,B001BORBHO,A1AFOYZ9HSM2CZ,5,Happy with the product,My dog was suffering with itchy skin. He had ...,Title: Happy with the product; Content: My dog...,86

## 2. Get embeddings and save them for future reuse

In [22]:
# DO NOT START ON WORKSHOP, TOO LONG TO EXECUTE

# df["embedding"] = df.combined.apply(lambda x: get_embedding(x, model=embedding_model))
# df.to_csv("data/classification/fine_food_reviews_with_embeddings_1k.csv")

## 3. Load embeddings and train a classifier

In [70]:
# Read the data with embeddings
datafile_path = "data/classification/fine_food_reviews_with_embeddings_1k.csv"

df = pd.read_csv(datafile_path)
df["embedding"] = df.embedding.apply(literal_eval).apply(np.array)  # convert string to array
df.head(2)

,Unnamed: 0,ProductId,UserId,Score,Summary,Text,combined,n_tokens,embedding
0,0,B003XPF9BO,A3R7JR3FMEBXQB,5,where does one start...and stop... with a tre...,Wanted to save some to bring to my Chicago fam...,Title: where does one start...and stop... wit...,52,"[0.03599238395690918, -0.02116263099014759, -0..."
1,297,B003VXHGPK,A21VWSCGW7UUAR,4,"Good, but not Wolfgang Puck good","Honestly, I have to admit that I expected a li...","Title: Good, but not Wolfgang Puck good; Conte...",178,"[-0.07042013108730316, -0.03175969794392586, -..."

In [71]:
# Load SciKit Learn model and utils
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score


X = list(df.embedding.values)
y = df.Score

# split data into train and test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42,
)

# train random forest classifier
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)

clf.score(X_test, y_test)

0.775

In [78]:
# evaluate
y_pred = clf.predict(X_test)

In [79]:
# Visualize the predictions
pred_results = pd.DataFrame({'actual': y_test, 'predicted': y_pred})
pred_results.head(20)

     actual  predicted
521       5          5
737       1          5
740       5          5
660       5          5
411       2          2
678       5          5
626       5          5
513       5          5
859       4          5
136       5          5
811       5          5
76        5          5
636       5          5
973       5          5
938       4          4
899       5          5
280       2          5
883       2          2
761       5          5
319       1          1

In [80]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           1       0.90      0.45      0.60        20
           2       1.00      0.38      0.55         8
           3       1.00      0.18      0.31        11
           4       0.88      0.26      0.40        27
           5       0.76      1.00      0.86       134

    accuracy                           0.78       200
   macro avg       0.91      0.45      0.54       200
weighted avg       0.81      0.78      0.73       200

Unsurprisingly 5-star and 1-star reviews seem to be easier to predict. Perhaps with more data, the nuances between 2-4 stars could be better predicted, but there's also probably more subjectivity in how people use the inbetween scores.